body{
    background-image: url(https://media.giphy.com/media/mFw9Pwhvaf7lDvUci8/giphy.gif); 
    background-repeat: no-repeat;
    background-size: cover;
}

#overskrift{
    font-family: 'Karantina', cursive;
   font-size: 25px;
   margin-bottom: 15px;
}
header a {
    text-decoration: none;
    color: black;
}
#genser{
    font-family: 'Karantina', cursive;
   font-size: 25px;
    display: flex;
    justify-content: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

#bilde{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 33px;
    margin-bottom: 10px;
}
img{
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#bildetekst {
    font-family: 'Karantina', cursive;
   font-size: 25px;
   display: flex;
   justify-content: center;
}